
  
  .ARRIBA {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .CAJAPERFIL {
    transition: transform 0.3s ease;
  }
  
  .CAJAPERFIL:hover {
    transform: scale(1.02);
  }

  .CALENDARIOPERFIL{
    transition: transform 0.3s ease;
  }

  .CALENDARIOPERFIL:hover {
    transform: scale(1.02);
  }

  #PARRAFOWEBPART{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
  }