*:active {
  text-decoration-color: #04570f;
}

.Background {
  background-color: #d8f1d2;
}

.Parrafobold{
  font-weight: bold;
}

.ARRIBA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.CAJAPERFIL {
  width: 40%;
  height: auto;
  transition: transform 0.3s ease;
  margin-top: 5%;
  margin-left: 5%;
}

.CAJAPERFIL:hover {
  transform: scale(1.02);
}

.MEDIOARRIBA {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  padding-top: 40px;
}

.ABAJO {
  margin-top: 30px;
  margin-bottom: 30px;
}

.SECCION2 {
  text-align: center;
}

.CALENDARIOPERFIL {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  font-weight: bold;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 20px #04570f1a;
  transform: translateX(-30%);
}

.infoicon2, .infoicon {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.infoicon2:hover, .infoicon:hover {
  transform: scale(1.2);
}

.infoicon {
  top: 8%;
  right: 8%
}

.infoicon2 {
  top: 8%;
  left: 3%;
}

.Textocentro {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateX(-10px);
}

.Textocentro.visible {
  opacity: 1;
  transform: translateX(0);
}

.Textocentro.hidden {
  opacity: 0;
  transform: translateX(-10px);
}

.Textoarriba {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateX(-10px);
}

.Textoarriba.visible {
  opacity: 1;
  transform: translateX(0);
}

.Textoarriba.hidden {
  opacity: 0;
  transform: translateX(10px);
}


.current-day {
  background-image: url(https://img.freepik.com/premium-vector/abstract-polygonal-tirangle-pattern-background_536326-160.jpg) !important;
  background-size: cover;
  background-position: center;
}

.filtrofechatabla {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CONTENEDORDETABLAEVENTOS {
  margin: 10px;
  z-index: 9999;
}

#Tablaeventos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 20px #04570f1a;
}

#PARRAFOCALENDARIO {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

#BOTONCREAR,
#BOTONFILTRAR,
#BOTONREINICIAR,
#BOTONRESUME {
  background-color: #04570f;
  color: #FFFFFF;
  transition: all 0.3s ease;
}

#BOTONFILTRAR:hover,
#BOTONREINICIAR:hover,
#BOTONRESUME:hover {
  background-color: #3ca328;
  color: #ffffff;
  font-weight: bold;
  transform: scale(1.1);
}

#BOTONBORRAR,
#BOTONFILTRAR,
#BOTONREINICIAR,
#BOTONRESUME {
  transition: all 0.3s ease;
}

#BOTONCREAR {
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

#BOTONCREAR:hover {
  -webkit-box-shadow:0px 0px 118px 0px rgba(136,255,0,0.9);
  -moz-box-shadow: 0px 0px 118px 0px rgba(136,255,0,0.9);
  box-shadow: 0px 0px 118px 0px rgba(136,255,0,0.9);
  transform: scale(1.2);
}

#BOTONCREAR::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(224, 255, 217, 0.87),
    transparent
  );
  transition: all 650ms;
}

#BOTONCREAR:hover::before {
  left: 100%;
}

#BOTONBORRAR:hover {
  background-color: #e00606;
  color: #ffffff;
  font-weight: bolder;
  animation: vibrar 0.1s infinite alternate;
}

@keyframes vibrar {
  0% {
    transform: translateX(-1px) rotate(-1deg);
  }

  50% {
    transform: translateX(1px) rotate(1deg);
  }

  100% {
    transform: translateX(-1px) rotate(-1deg);
  }
}

.Textocentro {
  margin-left: 5%;
  margin-right: 5%;
}

.Textoarriba {
  margin-left: 5%;
  margin-right: 5%;
}

.Textocentro p,
.Textoarriba p {
  overflow-wrap: break-word;
  text-align: center;
}

.Textoarriba,
.Textocentro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #039717;
  max-width: 400px;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 20px #04570f1a;
}

.info-content {
  max-width: 300px;
}

.event-info-container {
  text-align: center;
  white-space: pre-line;
}

.event-info-container p {
  text-align: justify;
  margin-right: 35px;
  font-size: 13px;
  font-weight: normal;
  transition: font-size 0.3s ease;
}

.event-info-container p:hover {
  font-size: 15px;
}

#textomodalborrar {
  font-size: 13px;
  font-weight: normal;
}

.textomodalborrar:hover {
  font-size: 15px;
}

.usuarios-cajita {
  background-image: url('https://u7.uidownload.com/vector/154/526/vector-color-diagonal-rounded-square-pattern-background-vector-ai-eps.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
  border: 5px solid white;
  border-radius: 20px;
  max-width: 400px;
  text-align: center;
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 35px;
  box-shadow: 0px 0px 20px #04570f1a;
  overflow: hidden;
  transform: translateX(70%);
}

.usuario-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.usuario-info .ms-Persona {
  width: 80px;
  height: 80px;
}

.usuario-info span {
  font-size: 20px;
  font-weight: bold;
}

.Fotousuario {
  position: relative;
  width: 80px;
  height: 80px;
  border: 10px solid white;
  border-radius: 50%;
}

.Fotousuario img {
  width: 100%;
  height: 100%;
}

.NombreUsuario {
  background-color: white;
  border-radius: 5px;
  width: 110%;
  height: auto;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

#botonFortnite {
  background-image: url('https://clipground.com/images/fortnite-f-logo.png');
}

#botonLol {
  background-image: url('https://vignette.wikia.nocookie.net/leagueoflegends/images/7/76/LoL_Icon.png/revision/latest?cb=20170427054945');
}

#botonFortnite,
#botonLol {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 110px;
  height: 70px;
  border: none;
  margin: 10px;
  border: 10px solid white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

#botonFortnite:hover,
#botonLol:hover {
  transform: scale(1.1);
}

.ms-Persona {
  display: flex;
  justify-content: center;
}

.FILTRODEFECHA {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

#ADMINLABEL {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.ESTILOMODALEQUIPOS .ant-modal-content {
  border-radius: 20px;
  overflow: hidden;
}

.ESTILOMODALEQUIPOS .ant-modal-header {
  background-color: #01579b;
  color: white;
  border-bottom: none;
  height: 40px;
}

.ESTILOMODALEQUIPOS .ant-modal-title {
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}

.ESTILOMODALEQUIPOS .ant-modal-body {
  padding: 24px;
}

.ESTILOMODALEQUIPOS .ant-modal-footer {
  border-top: none;
  padding: 10px 16px;
  text-align: right;
  background: #f0f2f5;
  border-radius: 0 0 20px 20px;
}

/* Custom animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.ESTILOMODALEQUIPOS .ant-modal {
  animation: fadeIn 0.3s ease-in-out;
}

.Contenidomodalequipos {
  display: block;
  justify-content: center;
  align-items: left;
  text-align: left;
  max-height: 70vh;
  overflow-y: auto;
  width: 100%;
}

.Contenidomodalequipos>p {
  margin: 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#botonokmodales {
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  height: auto;
  width: auto;
  background-color: #01579b;
  transition: transform 0.3s ease;
}

#botonokmodales:hover {
  transform: scale(1.05) !important;
  background-color: #033f6d !important;
}

#loadingtext {
  font-weight: bold;
  color: #01579b;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: fadeInOut 1s infinite;
}

.cargando {
  margin: 50px;
}

@keyframes fadeInOut {
  0% {
    color: #01579b;
    font-size: 1rem;
  }

  50% {
    color: #82c0ff;
    font-size: 1.1rem;
  }

  100% {
    color: #01579b;
    font-size: 1rem;
  }
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  background-image: linear-gradient(to right, #d8f1d2, #d8f1d231 33.3%, #333, #d8f1d231 66.6%, #d8f1d2);
  justify-content: center;
  width: 100%;
  font-size: 20px;
}

.navbar li a {
  margin-left: 15px;
  margin-right: 15px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #ffffff;
  color: #04570f;
  font-weight: bold;
}

.MODALPERFILJUEGOS {
  height: 500px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
